

#filter-pane-toggle, .report-controls label{
    display: none
}
.report-controls{
    flex-wrap: wrap;
    align-items:center;
}
.report-dropdown {
    height:40px;
}

@media (max-width: 640px) {
    .report-controls{
        gap:10px
    }
}
@media (min-width: 640px) {
    .sidebar:hover {   width: 250px;   }
    /* Adjust section width when sidebar expands */
    .sidebar:hover ~ .section {    margin-left: 250px;  }
    .report-controls{
        justify-content: space-between;
    }
    .filter-pane Input{
        margin: 30px 0
    }
}

@media (max-width: 475px) {
    .sidebar{
        padding: 2px;
        width: 50px;
    }
    .section{
        margin-left: 30px;
    }
    .section--2{
        margin-left: 10px;
    }
    .payment--card{
        width: 45.077mm;
        height: 26.888mm;
        /* width: 230px ;
        height: 130px; */
        margin-left: 30%;
    }
    .card--header{
        margin-bottom: 0px
    }
    .amount-value{
        font-size: 12px;
        font-weight: 200;
    }
    .inventory-actions{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .card--header i{
        height: 55px;
        width: 55px;
        font-size:20px
    }
    .sales-customer-selector{
        width: 200px
    }
    .customer-options{
        flex-direction: column;
    }
    .card--container, .sales-entry{
        padding: 0px;
    }
    .report-controls label{
        display: block !important;
        width: 100%;
    }
    .filter-pane{
        display: none !important;
    }
    #filter-pane-toggle:checked ~ .filter-pane{
        transition: 300ms;
        display:block !important;
    }
}

@media (max-width:768px) {

    .filter-pane{
        flex-wrap: wrap;
    }
    .sales-modal-content {
        width: 60%;
    }

}
@media (max-width:992px) {

    .tabular--wrapper table{
        display:none;
    }
}


